<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}" style="display: none;"></div>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
    <div class="card-header"><b th:text="${titulo}"></b></div>
    <div class="card-body">
    <div class="table-responsive-sm">
	<table class="table table-striped">
		<thead>
			<tr>
				<th sec:authorize="hasRole('ROLE_USER')">Id</th>
				<th th:text="#{text.cliente.nombre}">Nombre</th>
				<th th:text="#{text.cliente.apellido}">Apellido</th>
				<th th:text="#{text.cliente.email}">Email</th>
				<th th:text="#{text.cliente.createAt}">Fecha</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.factura.crear}">Factura</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.editar}">Editar</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{text.cliente.eliminar}">Eliminar</th>
		</thead>
		<tbody>
			<tr th:each="cliente: ${clientes}">
				<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" th:href="@{/Cliente/ver/} + ${cliente.id}" th:text="${cliente.id}"/></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.apellido}"></td>
				<td th:text="${cliente.email}"></td>
				<td th:text="${cliente.createAt}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{/Factura/form/} + ${cliente.id}" th:text="#{text.cliente.factura.crear}">Crear</a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs" th:href="@{/Cliente/form/} + ${cliente.id}" th:text="#{text.cliente.editar}">Editar</a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs" th:href="@{/Cliente/del/} + ${cliente.id}" onclick="return confirm(document.getElementById('i18n_eliminar_cliente').innerHTML);" th:text="#{text.cliente.eliminar}"></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<nav th:replace="layout/pager :: pager"></nav>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/Cliente/form}" class="btn btn-primary" th:text="#{text.cliente.crear}">Crear cliente</a>
	</div>
	</div>
	</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>